<div class="container-full" style="margin: 0px 150px">
  <br>
  <h2>Danh sách hàng người yêu của C0922h1</h2>
  <br>
  <hr>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Create Hàng
  </button>
  <br>
  <hr>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>img</th>
      <th>price</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td><img src="{{p.img}}" width="220" height="300"></td>
      <td>{{p.price}}</td>
      <td>
        <button type="button" class="btn btn-warning">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- The Modal -->
<!--<div class="modal" id="myModal">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->

<!--      &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Tạo Hàng</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--      </div>-->

<!--      &lt;!&ndash; Modal body &ndash;&gt;-->
<!--      <div class="modal-body">-->
<!--        <form #formCreate="ngForm" (submit)="createProduct(formCreate)">-->
<!--          <input placeholder="nhập id" ngModel name="id" required #id="ngModel"><br>-->
<!--          <p *ngIf="!id.valid && id.touched" style="color: red">Không được null</p>-->

<!--          <input placeholder="nhập name" ngModel name="name" required #name="ngModel"><br>-->
<!--          <p *ngIf="!name.valid && name.touched" style="color: red">Không được null</p>-->

<!--          <input placeholder="nhập img" ngModel name="img" required #img="ngModel"><br>-->
<!--          <p *ngIf="!img.valid && img.touched" style="color: red">Không được null</p>-->

<!--          <input placeholder="nhập price" ngModel name="price" required #price="ngModel"><br>-->
<!--          <p *ngIf="price?.errors?.required && price.touched" style="color: red">Không được null</p>-->

<!--          <button type="submit" class="btn btn-primary">Submit Hàng</button>-->

<!--        </form>-->
<!--      </div>-->

<!--      &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tạo Hàng</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formCreate" (submit)="createProduct()">
          <input placeholder="nhập id" formControlName="id"><br>
          <p *ngIf="formCreate.get('id')?.errors?.required && formCreate.get('id')?.touched" style="color: red">Không null</p>
          <p *ngIf="formCreate.get('id')?.errors?.max && formCreate.get('id')?.touched" style="color: red">max là 50</p>
          <input placeholder="nhập name" formControlName="name"><br>
          <input placeholder="nhập img" formControlName="img"><br>
          <input placeholder="nhập price" formControlName="price"><br>
          <button type="submit" class="btn btn-primary">Submit Hàng</button>

        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
